body{
    margin: 0px;
}
#header{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main{
    background-color: lightcoral;
}

#footer{
    background-color: lightgreen;
}